<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AppTag.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1763C9C91C05C2A10044BAA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1763C9E51C05C2A10044BAA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1763C9F01C05C2A10044BAA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
